@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%; /* Adjust as needed */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit-based browsers */
.animate-scroll::-webkit-scrollbar {
  display: none;
}

/* Duplicate content for seamless effect */
.animate-scroll .scroll-content {
  display: flex;
  flex-direction: column;
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover .scroll-content {
  animation-play-state: paused;
}
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}