@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.animate-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.animate-scroll {
  padding: 0.5rem 0;
}

.animate-scroll > div {
  margin: 0.5rem 0;
}

.animate-scroll {
  display: flex;
  flex-direction: column;
}

.animate-scroll > div {
  flex-shrink: 0;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}